<div class="stars">
  <div class="star" *ngFor="let item of [].constructor(50); let i = index">
  </div>
</div>
<div class="home">
  <div class="container">
    <div class="textContent">
      <h1 #tw>
        <span>Hi, I am Jack,</span><br/>
      </h1>
      <span>
        I am an Android Developer, FullStack Developer, BackEnd Developer.
      </span><br/>
      <span>I am currently looking for a new position.</span>
      <br/>
      <br/>
      <p-button label="Resume" icon="pi pi-download" iconPos="right" (onClick)="downloadCV()" />
    </div>
    <img class="image" priority ngSrc="/great-wall-of-china.svg" height="500" width="500">
  </div>
</div>
