.center {
  display: flex;align-items: center; gap: 1rem;
}

.img {
  height: 2rem;
  width: auto;
}

.content {
  padding-top: 3rem; padding-left: 2rem; padding-right: 2rem
}

.pdBottom {
  padding-bottom: 2rem;
}
